.hd{
    font-size: 25px;
    background-position: center; 
    background-color: darkgray;
    display: flex;
}
ul{
    display: inline;
    padding-top: 10px;
    flex:50%
}
li{
 display: inline;
 padding-left:10px;
 padding-right:20px;
}
p{
    padding-left: 30px;
    flex:10%;
    padding-top: 30px;
    font-weight: bolder;
    font-size: larger;
}
button{
    flex: 10%;
    font-size: large;
}
.btn-start{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.output{
    display: block;
    width: 90%;
    height: 400px;
    margin: 50px;
}
.btn-end{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 20px;
    cursor: pointer;
}
.btn-save{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 20px;
    cursor: pointer;
}
.cm{
    display: flex
}
.item{
    flex:20%
}